@charset "UTF-8";

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.project-img {
    width: 300px;
    cursor: pointer;
    transition: transform 1s;
}

.project-img:hover {
    transform: scale(1.2);
}